/* Import fonts */

@font-face {
	font-family: 'Spectral';
	src: url('../assets/Spectral-Regular.ttf');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Windsor';
	src: url('../assets/WindsorEF-Bold.otf');
	font-style: normal;
	font-weight: 300;
}

/* Animations */

@-webkit-keyframes moving-bg {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes moving-bg {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes moving-bg {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

/* Scrollbar */

* {
scrollbar-width: auto;
scrollbar-color: #cacdca #f8f8f8;
}


*::-webkit-scrollbar {
width: 14px;
}

*::-webkit-scrollbar-track {
background: var(--base);
}

*::-webkit-scrollbar-thumb {
background-color: #cacdca;
border-radius: 8px;
border: 3px solid #ffffff;
}

:root {
	--base: #F8F8F8;  
	--main: #b4464f;  
	--sec: #2F4858;
}

*, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: #F8F8F8;
	font-family: 'Spectral';
}

h1 {
	font-family: 'Windsor';
	color: var(--main);
	font-weight: 700; /* bold */
}

h2 { 
	font-size: 1.25em;
	color: var(--base);
	font-weight: 700; /* bold */
	margin-bottom: 1.5em;
}

h3 {
	font-size: 1.5em;
	color: var(--sec);
}

nav {
	height: 10vh;
	display: flex;
	justify-content: end;
	padding: 2vw;
	align-items: center;
}

body > nav {
	position: fixed;
	width: 100vw;
	background: var(--base);
	z-index: 1;
	box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.25);
}

.map {
	height: 100vh;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}

#open {
	display: flex;
	width: 100vw;
	justify-content: center;
}

nav + main {
	height: inherit;
	margin-top: 10vh;
	margin-bottom: 14vh;
    background: linear-gradient(320deg, #b4464f, #9e446a, #7d4979, #584d79, #3b4d6c, #2f4858);
    background-size: 1200% 1200%;

    -webkit-animation: moving-bg 60s ease infinite;
    -moz-animation: moving-bg 60s ease infinite;
    animation: moving-bg 60s ease infinite;
}

nav + main > section:nth-of-type(1) a {
	display: flex;
	justify-content: center;
	max-height: 76vh;
}

nav + main img {
	max-width: 100vw;
	align-self: center;
	max-height: inherit;
}

nav + main + footer {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 86vh;
	width: 100vw;
	height: 14vh;
	background-color: var(--base);
	box-shadow: 0px -10px 15px -3px rgba(0,0,0,0.25);
}

nav + main + footer a {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: inherit;
	text-decoration: none;
}

nav + main + footer a p {
	text-align: center;
	font-family: 'Windsor';
	font-size: 0.75em; 
	color: var(--main);
}

.current {
	border-bottom: 2px var(--main) solid;
}

nav + main + footer > section {
	display: flex;
	justify-content: space-around;
}

nav + main + footer > section > section {
	width: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav + main + footer > section > section:nth-child(even) {
	display: flex;
	justify-content: center;
}

nav + main + footer > section > section img {
	max-height: 3em;
}

nav + main:not(.info) > section:nth-of-type(2) {
	display: none;
}

.info {
	height: inherit;
    background: var(--base);
	overflow-y: scroll;
}

nav + main:not(.info):not(.list):not(.social) section:first-child {
	height: 76vh;
	display: flex;
	align-items: center;
}

.info > section:first-child, .list > section:first-child, .social > section:first-child {
	display: none !important;
}

nav + main > section:nth-child(3) {
	display: none;
	flex-direction: column;
}

nav + main > section:nth-child(3) h2 {
	color: var(--sec);
	margin-bottom: 0;
	width: fit-content;
}

nav + main > section:nth-child(3) > section {
	border-bottom: #cacdca 4px solid;
	padding: 1em;
}

nav + main > section:nth-child(3) > section a > section {
	display: flex;
	flex-direction: column;
}

nav + main > section:nth-child(3) > section a > section section {
	width: 50%;
	height: 25vh;
	background-size: cover;
	background-position-y: center;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	margin: 1em 0;
}

nav + main > section:nth-child(3) > section:nth-of-type(1) a > section section {
	background-image: url('../images/boroughs/nieuw-west.png');
}

nav + main > section:nth-child(3) > section:nth-of-type(2) a > section section {
	background-image: url('../images/boroughs/zuid.jpg');
}

nav + main > section:nth-child(3) > section:nth-of-type(3) a > section section {
	background-image: url('../images/boroughs/west_05.webp');
}

nav + main > section:nth-child(3) > section:nth-of-type(4) a > section section {
	background-image: url('../images/boroughs/oost.jpg');
}

nav + main > section:nth-child(3) > section:nth-of-type(5) a > section section {
	background-image: url('../images/boroughs/noord.jpg');
}

nav + main > section:nth-child(3) > section:nth-of-type(6) a > section section {
	background-image: url('../images/boroughs/zuidoost.png');
}

nav + main > section:nth-child(3) > section:nth-of-type(7) a > section section {
	background-image: url('../images/boroughs/centrum.jpg');
}

nav + main > section:nth-child(3) > section:nth-of-type(8) a > section section {
	background-image: url('../images/boroughs/westpoort.png');
}

nav + main > section:nth-child(4) {
	display: none;
}

.list, .social {
	background: var(--base);
}

.list > section:nth-child(3) {
	display: flex;
	padding-bottom: 13vh;
}

.list > section:nth-child(3) a {
	text-decoration: none;
}

.list > section:nth-child(3) h2 {
	text-decoration: underline;
}

.social > section:nth-child(4) {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.social > section:nth-child(4) h2 {
	color: var(--sec);
}

.info h2 + section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 1em;
	grid-row-gap: 2em;
	justify-items: center;
	padding: 1em;
}

.info > * section:not(h2 + section) {
	max-width: 80vw;
}

.info h2 + section section {
	width: 26vw;
	height: 28vh;
	box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: flex-end;
	flex-wrap: wrap;
	border-radius: 0.5em;
}

.info h2 + section section:nth-of-type(1) {
	background-image: url('../images/boroughs/west_01.webp');
}

.info h2 + section section:nth-of-type(2) {
	background-image: url('../images/boroughs/west_02.webp');
}

.info h2 + section section:nth-of-type(3) {
	background-image: url('../images/boroughs/west_03.webp');
}

.info h2 + section section:nth-of-type(n+4) {
	display: none;
}

.info h2 + section section:nth-of-type(n+4).revealed {
	display: flex;
}

.info h2 + section section:nth-of-type(4) {
	background-image: url('../images/boroughs/west_04.webp');
}

.info h2 + section section:nth-of-type(5) {
	background-image: url('../images/boroughs/west_05.webp');
}

.info h2 + section section:nth-of-type(6) {
	background-image: url('../images/boroughs/west_06.webp');
}

.info h2 + section section:nth-of-type(7) {
	background-image: url('../images/boroughs/west_07.webp');
}

.info h2 + section section:nth-of-type(8) {
	background-image: url('../images/boroughs/west_08.webp');
}

.info h2 + section section:nth-of-type(9) {
	background-image: url('../images/boroughs/west_09.jpg');
}

.info h2 {
	font-family: 'Windsor';
	color: var(--sec);
	font-size: 2em;
	text-align: center;
	margin-bottom: 0.75em;
}

.info h3 {
	font-family: 'Windsor';
	margin-top: 0.5em;
}

.info a {
	color: #cacdca;
	font-style: italic;
}

#close {
	color: #cacdca;
	font-size: 2em;
	font-style: normal;
	font-family: 'Windsor';
	padding: 1em 0.5em 0.5em 0.5em;
	display: flex;
	text-decoration: none;
}

nav section {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
	margin-left: 1.5em;
}

nav h1 {
	font-size: 2em;
}

nav img {
	width: 1.5em;
}

nav h1 span {
	color: var(--sec);
}

.landing {
	margin-top: -10vh;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.landing > section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landing h1 {
	font-size: 3em;
}

.landing h1 span {
	color: var(--base);
}

.landing h1, .landing h2 {
	filter: drop-shadow(0px 0px 15px rgba(17, 30, 18, 0.25));
}

main button {
	align-items: center;
	background-color: var(--main);
	color: var(--base);
	border: 0;
	border-radius: 1.25em;
	cursor: pointer;
	font-family: 'Spectral';
	font-size: 1em;
	min-height: 3em;
	width: 12em;
	padding: 0px 20px 0px 20px;
	transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, 
				box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, 
				color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	filter: drop-shadow(0px 0px 15px rgba(17, 30, 18, 0.25));
}

main button:hover, main button:focus { 
  background-color: #87353B;
  color: var(--base);
}

main button:active {
  background: #5a2327;
  color: rgb(248, 248, 248, .7);
}

.info-block {
	margin: 5vh 5vw;
}

p { 
	font-size: 1em;
	color: var(--sec);
	margin-bottom: 0.5em;
}

nav a {
	text-decoration: none;
	display: flex;
	align-content: center;
}

a {
	color: var(--main);
}

label:first-of-type {
	margin-top: 1em;
}

.info h2 + section section p {
	color: var(--sec);
	font-family: 'Windsor';
	text-align: center;
	margin-bottom: 1em;
	background-color: var(--base);
	padding: 0.25em 1em;
}

.info h2 + section ~ section {
	margin: 0 0 2em 2em;
}

label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

.label:hover input ~ .checkmark {
	background-color: #ccc;
}

label input:checked ~ .checkmark {
	background-color: var(--sec);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

label input:checked ~ .checkmark:after {
	display: block;
}

label .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

footer {
	background-color: #E1E1E1;
	padding: 2vh 5vw;
	color: var(--sec);
}

footer a {
	color: var(--sec);
}

/* Responsivity in case of desktop size screens */

@media screen and (min-width: 600px) {
	.info h2 + section section p {
		border-radius: 0.5em;
		box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
	}
}